@page "/users/add"
@inject HttpClient Http
@using Microsoft.AspNetCore.Blazor.Browser.Interop;

<form>
    <div class="form-group">
        <label for="Name" class="control-label">Name</label>
        <input type="text" class="form-control" bind="@user.Name" />
    </div>
    <div class="form-group">
        <label for="Email" class="control-label">Email</label>
        <input type="text" class="form-control" bind="@user.Email" />
    </div>
    <button class="btn btn-warning" onclick="@GoBack">Go Back</button>
    <button type="submit" class="btn btn-success" onclick="@(async () => await AddUser())">
        Save
    </button>
</form>

@functions {
    User user = new User();

    protected async Task AddUser()
    {
        await Http.PostJsonAsync("/api/users/", user);
        GoBack();
    }

    protected void GoBack()
    {
        RegisteredFunction.Invoke<bool>("goBack");
    }
}
