@page "/users"
@inject HttpClient Http

<h2>Users</h2>

<a href="/users/add" class="btn btn-primary">Add User</a>

<div class="divider" />

@if (users == null)
{
    <img src="images/loading.gif" alt="Loading..." />
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <UserDetailsRow user="user" />
                    <td><button class="btn btn-danger" onclick="@(async () => await Delete(user.Id))">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    User[] users;

    protected override async Task OnInitAsync()
    {
        users = await Http.GetJsonAsync<User[]>("/api/users");
    }

    protected async Task Delete(int id)
    {
        await Http.DeleteAsync($"/api/users/{id}");
        await OnInitAsync();
        StateHasChanged();
    }
}